html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
  font-family: 'JetBrains Mono', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
}

body {
  background-color: var(--bg);
  color: var(--text);
  @apply transition-colors duration-200 ease-in-out;
}
